In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

covidtotals = pd.read_csv('data/covidtotals.csv',
                          parse_dates=['lastdate'])
covidtotals.set_index('iso_code', inplace=True)

In [2]:
covidtotals.shape

(231, 16)

In [3]:
covidtotals.sample(1, random_state=1).T

iso_code                         GHA
lastdate         2023-12-03 00:00:00
location                       Ghana
total_cases                 171834.0
total_deaths                  1462.0
total_cases_pm               5133.07
total_deaths_pm               43.673
population                  33475870
pop_density                  126.719
median_age                      21.1
gdp_per_capita               4227.63
hosp_beds                        0.9
vac_per_hund                     NaN
aged_65_older                  3.385
life_expectancy                64.07
hum_dev_ind                    0.611
region                   West Africa

In [4]:
covidtotals.dtypes

lastdate           datetime64[ns]
location                   object
total_cases               float64
total_deaths              float64
total_cases_pm            float64
total_deaths_pm           float64
population                  int64
pop_density               float64
median_age                float64
gdp_per_capita            float64
hosp_beds                 float64
vac_per_hund              float64
aged_65_older             float64
life_expectancy           float64
hum_dev_ind               float64
region                     object
dtype: object

In [5]:
totvars = ['total_cases',
    'total_deaths','total_cases_pm',
    'total_deaths_pm']

covidtotals[totvars].describe()

        total_cases  total_deaths  total_cases_pm  total_deaths_pm
count  2.310000e+02  2.310000e+02      231.000000       231.000000
mean   3.351599e+06  3.021420e+04   206177.794623      1261.778390
std    1.148321e+07  1.047789e+05   203858.096252      1314.981529
min    4.000000e+00  0.000000e+00      354.487000         0.000000
25%    2.567150e+04  1.775000e+02    21821.863000       141.177000
50%    1.914960e+05  1.937000e+03   133946.251000       827.046000
75%    1.294286e+06  1.415000e+04   345689.831000      1997.513000
max    1.034368e+08  1.127152e+06   763475.441000      6507.656000

In [8]:
covidtotals[totvars].quantile(np.arange(0.0, 1.1, 0.1))

     total_cases  total_deaths  total_cases_pm  total_deaths_pm
0.0          4.0           0.0         354.487            0.000
0.1       8359.0          31.0        3138.575           32.885
0.2      17181.0         126.0       10885.737          105.298
0.3      38008.0         294.0       35834.604          210.509
0.4      74129.0         844.0       86126.235          498.789
0.5     191496.0        1937.0      133946.251          827.046
0.6     472755.0        4384.0      220429.369         1251.299
0.7    1041111.0        9646.0      293737.443         1697.571
0.8    1877065.0       21218.0      416608.106         2271.676
0.9    5641992.0       62288.0      512388.401         3155.939
1.0  103436829.0     1127152.0      763475.441         6507.656