In [3]:
%pip install pyod scikit-learn

import pandas as pd
from pyod.models.knn import KNN
from sklearn.preprocessing import StandardScaler

Requirement already satisfied: pyod in c:\users\letrungtin\anaconda3\lib\site-packages (2.0.5)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: scikit-learn in c:\users\letrungtin\anaconda3\lib\site-packages (1.5.1)
Requirement already satisfied: joblib in c:\users\letrungtin\anaconda3\lib\site-packages (from pyod) (1.4.2)
Requirement already satisfied: matplotlib in c:\users\letrungtin\anaconda3\lib\site-packages (from pyod) (3.9.2)
Requirement already satisfied: numpy>=1.19 in c:\users\letrungtin\anaconda3\lib\site-packages (from pyod) (1.26.4)
Requirement already satisfied: numba>=0.51 in c:\users\letrungtin\anaconda3\lib\site-packages (from pyod) (0.60.0)
Requirement already satisfied: scipy>=1.5.1 in c:\users\letrungtin\anaconda3\lib\site-packages (from pyod) (1.13.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\letrungtin\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in c:\users\letrungtin\anaconda3\lib\site-packages (from numba>=0.51->pyod) (0.43.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\letrungtin\anaconda3\lib\site-packages (from matplotlib->pyod) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\letrungtin\anaconda3\lib\site-packages (from matplotlib->pyod) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\letrungtin\anaconda3\lib\site-packages (from matplotlib->pyod) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\letrungtin\anaconda3\lib\site-packages (from matplotlib->pyod) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\letrungtin\anaconda3\lib\site-packages (from matplotlib->pyod) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\letrungtin\anaconda3\lib\site-packages (from matplotlib->pyod) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\letrungtin\anaconda3\lib\site-packages (from matplotlib->pyod) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\letrungtin\anaconda3\lib\site-packages (from matplotlib->pyod) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\letrungtin\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->pyod) (1.16.0)

In [4]:
covidtotals = pd.read_csv('data/covidtotals.csv')
covidtotals.set_index('iso_code', inplace=True)

In [5]:
standardizer = StandardScaler()
analysisvars = ['location', 'total_cases_pm', 'total_deaths_pm', 'pop_density', 'median_age', 'gdp_per_capita']
covidanalysis = covidtotals.loc[:, analysisvars].dropna()
covidanalysisstand = standardizer.fit_transform(covidanalysis.iloc[:, 1:])

In [6]:
clf_name = 'KNN'
clf = KNN(contamination=0.1)
clf.fit(covidanalysisstand)

KNN(algorithm='auto', contamination=0.1, leaf_size=30, method='largest',
  metric='minkowski', metric_params=None, n_jobs=1, n_neighbors=5, p=2,
  radius=1.0)

In [8]:
y_pred = clf.labels_
y_scores = clf.decision_scores_

In [9]:
pred = pd.DataFrame(zip(y_pred, y_scores), columns=['outliers', 'scores'], index=covidanalysis.index)

pred.sample(10, random_state=2)

          outliers    scores
iso_code
BHR              1  2.694270
BRA              0  0.752140
ZWE              0  0.210114
BGR              1  1.619251
CHN              0  0.935879
BGD              1  1.520910
GRD              0  0.681296
UZB              0  0.369320
MMR              0  0.370487
ECU              0  0.584605

In [10]:
pred.outliers.value_counts()

outliers
0    162
1     18
Name: count, dtype: int64

In [11]:
pred.groupby(['outliers'])[['scores']].agg(['min', 'median', 'max'])

            scores
               min    median        max
outliers
0         0.078210  0.600947   1.397616
1         1.421653  1.653276  11.940163

In [12]:
covidanalysis.join(pred).loc[pred.outliers == 1, ['location', 'total_cases_pm', 'total_deaths_pm','scores']].sort_values(by='scores', ascending=False).head(10)

                      location  total_cases_pm  total_deaths_pm     scores
iso_code
SGP                  Singapore      531183.841          346.637  11.940163
QAT                      Qatar      190908.716          256.017   3.037338
BHR                    Bahrain      473167.024         1043.310   2.694270
LUX                 Luxembourg      603439.463         1544.161   2.485225
PER                       Peru      133238.998         6507.656   2.265343
BRN                     Brunei      763475.441          396.435   2.259517
MDV                   Maldives      356423.660          603.286   1.984898
MLT                      Malta      227422.824         1687.628   1.961672
ARE       United Arab Emirates      113019.214          248.805   1.687302
BGR                   Bulgaria      195767.887         5703.518   1.619251