1. read CSV file
2. parse datetime values with columns
3. find missing data (isnull)
4. drop missing data (isnull or n/a)
5. (optional) fix warning: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.

In [14]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.width', 100)
pd.set_option('display.max_columns', 9)

In [2]:
landtemps = pd.read_csv('data/landtempssample.csv',
    names=['stationid','year','month','avgtemp','latitude',
    'longitude','elevation','station','countryid','country'],
    skiprows=1,
    parse_dates=[['month','year']],
    low_memory=False)

type(landtemps)

/tmp/ipykernel_413/2389750749.py:1: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  landtemps = pd.read_csv('data/landtempssample.csv',
/tmp/ipykernel_413/2389750749.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  landtemps = pd.read_csv('data/landtempssample.csv',

pandas.core.frame.DataFrame

In [15]:
landtemps.head(7)

,measuredate,stationid,avgtemp,latitude,longitude,elevation,station,countryid,country
0,2000-04-01,USS0010K01S,5.27,39.90,-110.75,"2,773.70",INDIAN_CANYON,US,United States
1,1940-05-01,CI000085406,18.04,-18.35,-70.33,58.00,ARICA,CI,Chile
2,2013-12-01,USC00036376,6.22,34.37,-91.12,61.00,SAINT_CHARLES,US,United States
3,1963-02-01,ASN00024002,22.93,-34.28,140.60,65.50,BERRI_IRRIGATION,AS,Australia
5,1991-04-01,USW00024151,5.59,42.15,-112.29,"1,362.50",MALAD_CITY,US,United States
6,1993-12-01,RSM00022641,-10.17,63.90,38.12,13.00,ONEGA,RS,Russia
7,1943-01-01,USC00470307,-10.43,43.33,-89.37,317.00,ARLINGTON,US,United States

In [4]:
landtemps.dtypes

month_year    datetime64[ns]
stationid             object
avgtemp              float64
latitude             float64
longitude            float64
elevation            float64
station               object
countryid             object
country               object
dtype: object

In [5]:
landtemps.shape

(100000, 9)

In [6]:
landtemps.rename(columns={'month_year':'measuredate'}, inplace=True)

Check data type per each column

In [7]:
landtemps.dtypes

measuredate    datetime64[ns]
stationid              object
avgtemp               float64
latitude              float64
longitude             float64
elevation             float64
station                object
countryid              object
country                object
dtype: object

In [8]:
landtemps.avgtemp.describe()

count   85,554.00
mean        10.92
std         11.52
min        -70.70
25%          3.46
50%         12.22
75%         19.57
max         39.95
Name: avgtemp, dtype: float64

Find out the number of data missing

In [9]:
landtemps.isnull().sum()

measuredate        0
stationid          0
avgtemp        14446
latitude           0
longitude          0
elevation          0
station            0
countryid          0
country            5
dtype: int64

In [10]:
landtemps.country.describe()

count             99995
unique              236
top       United States
freq              47159
Name: country, dtype: object

In [11]:
landtemps.dropna(subset=['avgtemp'], inplace=True)
landtemps.shape

(85554, 9)

In [12]:
landtemps.isnull().sum()

measuredate    0
stationid      0
avgtemp        0
latitude       0
longitude      0
elevation      0
station        0
countryid      0
country        2
dtype: int64

In [13]:
landtemps.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85554 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   measuredate  85554 non-null  datetime64[ns]
 1   stationid    85554 non-null  object
 2   avgtemp      85554 non-null  float64
 3   latitude     85554 non-null  float64
 4   longitude    85554 non-null  float64
 5   elevation    85554 non-null  float64
 6   station      85554 non-null  object
 7   countryid    85554 non-null  object
 8   country      85552 non-null  object
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 6.5+ MB

In [18]:
zip_landtemps = pd.read_csv('data/landtemps.zip',
    compression='zip', names=['stationid', 'year',
    'month', 'avgtemp', 'latitude', 'longtitude',
    'elevation', 'station', 'countryid', 'country'],
    skiprows=1,
    low_memory=False)

In [23]:
zip_landtemps.dtypes

stationid      object
year            int64
month           int64
avgtemp       float64
latitude      float64
longtitude    float64
elevation     float64
station        object
countryid      object
country        object
dtype: object

Fix warning "FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead." when parse datetime columns

In [26]:
zip_landtemps['measuredate'] = pd.to_datetime(zip_landtemps[['year', 'month']].assign(day=1))
zip_landtemps = zip_landtemps.drop(['month','year'], axis=1)

In [27]:
zip_landtemps.dtypes

stationid              object
avgtemp               float64
latitude              float64
longtitude            float64
elevation             float64
station                object
countryid              object
country                object
measuredate    datetime64[ns]
dtype: object

In [29]:
zip_landtemps.shape

(16904868, 9)

In [28]:
zip_landtemps.isnull().sum()

stationid            0
avgtemp        2443321
latitude             0
longtitude           0
elevation            0
station              0
countryid            0
country            408
measuredate          0
dtype: int64

Drop null and n/a values via choosing column name

In [ ]:
zip_landtemps.dropna(subset=['avgtemp'], inplace=True)

In [36]:
zip_landtemps.dropna(subset=['country'], inplace=True)

In [37]:
zip_landtemps.shape

(14461331, 9)

In [38]:
zip_landtemps.isnull().sum()

stationid      0
avgtemp        0
latitude       0
longtitude     0
elevation      0
station        0
countryid      0
country        0
measuredate    0
dtype: int64